<form name="lomake">
            <p>
                <label>Elokuvan nimi</label>
                <input type="text" ng-model="title" name="title" required>
            </p>
            <p>
                <label>Ohjaajan nimi</label>
                <input type="text" ng-model="director" name="director" required>
            </p>
            <p>
                <label>Julkaisuvuosi</label>
                <input type="text" ng-model="released" name="released" required  ng-pattern="/^[0-9]{4,}$/">
            </p>
            <div ng-show="lomake.released.$invalid && lomake.released.$dirty">
            Julkaisuvuosi ei ole validi!
            </div>
            <p>
                <label>Elokuvan kuvaus</label>
                <input type="text" ng-model="description" name="description" required>
            </p>
            <p>
                <button ng-click="addMovie()" ng-disabled="lomake.$invalid">Lähetä</button>
            </p>
</form>
