<form name="lomake">
  <h2>Edit movie</h2>
            <p>
                <label>Title</label>
                <input type="text" ng-model="movie.title" name="title" required>
            </p>
            <p>
                <label>Director</label>
                <input type="text" ng-model="movie.director" name="director" required>
            </p>
            <p>
                <label>Release year</label>
                <input type="text" ng-model="movie.released" name="released" required  ng-pattern="/^[0-9]{4,}$/">
            </p>
            <div ng-show="lomake.released.$invalid && lomake.released.$dirty">
            Release year is not valid!
            </div>
            <p>
                <label>Description</label>
                <input type="text" ng-model="movie.description" name="description" required>
            </p>
            <p>
                <button ng-click="editMovie()" ng-disabled="lomake.$invalid">Save</button>
            </p>
</form>
